@import "src/styles/global";

#root {
  height: 600px; /*max height for chrome popup*/
  width: 350px;
  background-color: white;
  overflow-y: auto;
}

.app {
  padding: 15px;
  font-size: 12px;
  font-family: "Airbnb Cereal App Book";
  color: $text-dark;


  .get-started-img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 100px 0px;
    align-items: center;

    img {
      height: 160px;
    }

    p {
      padding: 20px;
    }
  }

  //--------------Basic elements styles override -----------------// 
  a {
    color: $accent;
  }

  .plr30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  button.k-btn {
    background-color: $bg-light;
    color: $primary-color;

    &:hover {
      background-color: darken($bg-light, 5%);
      color: $primary-color;
    }
  }

  button.k-btn-dark {
    background-color: $primary-color;
    color: white;
    border-radius: $border-radius-one-line;

    &.hollow {
      background-color: white;
      //border: 1px solid lighten($primary-color, 20%);
      color: $primary-color;
    }

    &:hover {
      background-color: lighten($primary-color, 20%);
      color: white;
    }
  }

  button.k-btn-dark.secondary {
    background-color: $secondary-color;
  }

  button.icon {
    background-color: $bg-light;
    color: $primary-color;
  }


  input.k-input {
    border: 1px solid $bg-light;
    background-color: $bg-light;
    border-radius: $border-radius-one-line;
    min-height: 30px;
    color: $primary-color;
    font-size: 14px;

    &:focus {
      background-color: white;
      border: 1px solid lighten($primary-color, 30%);
    }
  }

  .mbt10 {
    margin: 10px 0px;
  }

  .mt30 {
    margin-top: 30px;
  }


  div.ui.dropdown {
    .menu {
      .item {
        color: $text-dark;
        font-size: 12px;
      }

      .header {
        color: darken($text-dark, 10%);
      }
    }
  }

  .ui.labeled.icon.button > .icon {
    background-color: inherit;
  }

  button.ui.button.icon {
    :hover {
      background-color: $primary-color;
    }
  }


}


