//  SCSS variables for global usage


// ----------- colors ------------//
$text-light: #bbb5cc;
$text-dark: #57419d;
$primary-color: #57419d;
$bg-light: #f7f6fd;
$accent: #fb8f99;


// ----------- colors ------------//
$border-radius-one-line: 10px;
$border-radius-two-line: 15px;
$border-radius-multi-line: 20px;
