//  SCSS variables for global usage


// ----------- colors ------------//
$text-light: #a79ccd;
$text-dark: #57419d;
$primary-color: #57419d;
$bg-light: #f7f6fd;
$accent: #fb8f99;


// ----------- colors ------------//
$border-radius-one-line: 7px;
$border-radius-one-line-extra: 10px;
$border-radius-two-line: 14px;
$border-radius-multi-line: 21px;


// -------------- Animation ------------------//

$easing: cubic-bezier(0.22, 1, 0.36, 1);


@keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


//------util classes--------------//

.text-light {
  color: $text-light;
}