@import "src/styles/global";

.links {
  display: flex;
  flex-flow: column nowrap;

  margin-top: 10px;
}

.link-card {
  background-color: $bg-light;
  border: 1px solid $bg-light;
  border-radius: $border-radius-two-line;
  margin-top: 15px;
  padding: 10px 15px;

  animation: slide-up 0.4s $easing;

  &:hover {
    border: 1px solid $primary-color;
    background-color: white;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .text-section {
      display: flex;
      flex-flow: column nowrap;
      flex-basis: 70%;

      .title {
        font-size: 14px;
        color: $text-dark;
      }

      .description {
        font-size: 12px;
        color: $text-light;
      }
    }

    .image-section {
      display: flex;
      flex-flow: row wrap;

      .image {
        width: 32px;
        height: 32px;
        border-radius: $border-radius-one-line;
      }
    }
  }
}
