@import "src/styles/global";

.add-link-panel {

  background-color: white;
  border-radius: $border-radius-two-line;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid $text-light;

  .title-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .title {
      font-size: 16px;
    }
  }

  .form {
    margin-top: 20px;

    .k-field {
      margin: 20px 0px;
      display: flex;
      flex-flow: column nowrap;
      overflow-wrap: break-word; // stop overflow for big single strings

      label {
        margin-bottom: 2px;
        font-weight: 500;
      }

    }
  }


  .url {
    color: $text-light;
  }

  .tags {
    margin-top: -5px;
    margin-bottom: 20px;
  }


}