@import "src/styles/global";

.save-tag {
  display: flex;
  justify-content: flex-start;

  button {
    justify-self: flex-end;
  }

  .save-tag-input-row {
    display: flex;
    align-items: center;
    min-width: 310px;
    flex-flow: row wrap;

    > * {
      margin: 5px;
    }

  }

}


