@import "src/styles/global";

.tags {
  display: flex;
  flex-flow: row wrap;

  margin-top: 5px;

  .tag {
    margin-right: 10px;
    margin-top: 10px;
  }

  .k-label {
    background-color: white;
    border-radius: $border-radius-one-line;
    padding: 7px 14px;
    color: $text-dark;
    font-weight: normal;
    border: 1px solid $accent;
  }

  .selected {
    color: white;
    background-color: $accent;
  }


  .add-tag-btn {
    border-radius: $border-radius-one-line;
    line-height: .8em;
    background-color: #ffffff;
    color: $accent;

    &:hover {
      background-color: $bg-light;
      color: $primary-color;
    }
  }

}


