@import "src/styles/global";

.tags {
  display: flex;
  flex-flow: row wrap;

  .icon-btn {
    float: right;
  }

  .tag {
    margin-right: 8px;
    margin-top: 8px;
  }

  .k-label {
    background-color: $bg-light;
    border-radius: $border-radius-one-line-extra;
    padding: 5px 8px;
    color: $text-dark;
    font-weight: lighter;
    border: 1px solid $bg-light;
  }

  .selected {
    border: 1px solid $primary-color;
    font-weight: 500;
    color: $text-dark;
  }
  
}
